body {
  overflow: hidden;
}

html {
  overflow: hidden;
}

.hero-section-container {
  height: 100%;
}

.hero-section-container .movie-title {
  position: absolute;
  color: white;
  font-size: 3em;
  top: 56.5vw;
  left: 5%;
  z-index: 1;
}

.hero-section-container .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56.5vw;
}

.hero-section-container .slider::after {
  content: "";
  display: block;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0)), to(black));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), black);
  height: 100%;
  width: 100%;
}

.hero-section-container .slider .slider-image {
  opacity: 0;
  position: absolute;
  width: 100vw;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.hero-section-container .slider img {
  width: 100%;
}

.details-section-background {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.details-section-background .details-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  padding: 10em 0 1em;
  width: 80%;
  margin: 0 auto;
}

.details-section-background .details-section-container .description-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.details-section-background .details-section-container .description-container .genre-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.5em;
}

.details-section-background .details-section-container .description-container .genre-names .just-genre-names {
  font-weight: 200;
}

.details-section-background .details-section-container .description-container h1 {
  padding-bottom: 0.8em;
}

.details-section-background .details-section-container .description-container .description {
  padding-right: 100px;
}

.details-section-background .details-section-container .rating-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-section-background .details-section-container .rating-section .circular-rating-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-section-background .details-section-container .rating-section .circular-rating-container .rating-percentage {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
}

.details-section-background .details-section-container .rating-section .circular-rating-container svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.details-section-background .details-section-container .rating-section .circular-rating-container svg circle {
  fill: none;
  stroke: #6fe6f6;
  stroke-width: 1em;
  stroke-linecap: round;
}

.trailers-section-container {
  position: relative;
  height: calc(calc(750px * 0.6)* 4);
  color: white;
}

.trailers-section-container .title {
  text-align: center;
}

.trailers-section-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 400px;
  height: 50px;
  margin: 2em auto;
}

.trailers-section-container .buttons .arrow-button {
  position: relative;
  cursor: pointer;
}

.trailers-section-container .buttons .arrow-button.reversed {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.trailers-section-container .buttons .arrow-button:hover .back-arrow-inverted {
  opacity: 100%;
}

.trailers-section-container .buttons .arrow-button:hover .back-arrow {
  opacity: 0%;
}

.trailers-section-container .buttons .arrow-button:active .back-arrow-inverted {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.trailers-section-container .buttons .arrow-button img {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.trailers-section-container .buttons .arrow-button .back-arrow {
  opacity: 100%;
}

.trailers-section-container .buttons .arrow-button .back-arrow-inverted {
  opacity: 0%;
}

.trailers-section-container .trailers-slider {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.trailers-section-container .trailers-slider .trailers-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.trailers-section-container .trailers-slider .trailers-wrapper .trailer-video {
  width: 750px;
  height: calc(750px * 0.6);
  opacity: 20%;
  border: solid 2px #ef8555;
  border-radius: 20px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.trailers-section-container .trailers-slider .trailers-wrapper .trailer-video.selected {
  opacity: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=movie-page.css.map */