@import "../../../scss/functions/functions.scss";
@import "../../../scss/variables/variables.scss";

// --- HERO SECTION ---

body {
  overflow: hidden;
}
html {
  overflow: hidden;
}

.hero-section-container {
  height: 100%;

  .movie-title {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 56.5vw;
    left: 5%;
    z-index: 1;
  }

  .slider {
    display: flex;
    justify-content: center;
    height: 56.5vw;

    &::after {
      content: "";
      display: block;
      position: relative;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        black
      );
      height: 100%;
      width: 100%;
    }

    .slider-image {
      opacity: 0;
      position: absolute;
      width: 100vw;

      transition: opacity 1s ease-in-out;
    }

    img {
      width: 100%;
    }
  }
}

// --- DETAILS SECTION ---

.details-section-background {
  background: linear-gradient(black, rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .details-section-container {
    display: flex;
    color: white;
    padding: 10em 0 1em;
    width: 80%;
    margin: 0 auto;

    .description-container {
      flex: 3;

      .genre-names {
        display: flex;

        align-items: center;
        color: white;
        font-size: 1.5em;

        .just-genre-names {
          font-weight: 200;
        }
      }

      h1 {
        padding-bottom: 0.8em;
      }

      .description {
        padding-right: 100px;
      }
    }

    .rating-section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .circular-rating-container {
        flex: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .rating-percentage {
          position: absolute;
          font-size: 2em;
          font-weight: bold;
        }

        svg {
          transform: rotate(-90deg);
          circle {
            fill: none;
            stroke: color(accent3);
            stroke-width: 1em;
            stroke-linecap: round;
          }
        }
      }
    }
  }
}

// --- TRAILERS SECTION ---

$videoWidth: 500px;
$videoHeight: calc(#{$videoWidth} * 0.6);

.trailers-section-container {
  position: relative;
  height: calc(#{$videoHeight}* 4);
  color: white;

  .title {
    text-align: center;
  }

  .buttons {
    text-align: center;
    padding: 1em;
  }

  .trailers-slider {
    position: relative;
    max-width: $videoWidth;
    margin: 0 auto;

    .trailers-wrapper {
      display: flex;
      flex: 1;
      position: absolute;

      transition: all 0.2s ease-out;

      .trailer-video {
        width: $videoWidth;
        height: $videoHeight;
        opacity: 20%;
        border: solid 2px color(accent1);
        border-radius: 20px;

        transform: scale(0.8);
        transition: all 0.2s ease-out;

        &.selected {
          opacity: 100%;

          transform: scale(1);
        }
      }
    }
  }
}
