@import "../../../scss/variables/variables.scss";
@import "../../../scss/variables/variables.scss";

.logo-container {
  position: fixed;
  left: calc(50% - #{$defaultLogoHeight} / 2);
  top: calc(40% - #{$defaultLogoHeight} / 2);
  display: flex;
  justify-content: center;
  transform: scale(0.6);
  cursor: default;
  z-index: 10;

  transition: all 0.2s 0.6s ease-in-out;

  &.small {
    position: fixed;
    top: calc(0px - #{$defaultLogoHeight} / 2 + 50px);
    left: calc(0px - #{$defaultLogoHeight} / 2 + 7%);
    cursor: pointer;

    transform: scale(0.2);
    transition: all 0.2s 0.1s ease-in-out;
  }

  &.extra-small {
    position: fixed;
    top: calc(0px - #{$defaultLogoHeight} / 2 + 50px);
    left: calc(0px - #{$defaultLogoHeight} / 2 + 7%);
    cursor: pointer;

    transform: scale(0.1);
    transition: all 0.2s 0.4s ease-in-out;
  }

  .logotype {
    position: absolute;
    top: calc(50% - #{$logotypeHeight}/ 2);
  }

  .back-arrow {
    transform: scale(0.7);
    position: absolute;
  }
}
