@mixin titleNormal {
  font-size: 1.5em;
  font-weight: 400;
}

@mixin headingLarge {
  font-size: 2em;
  font-weight: 500;
}

@mixin headingExtraLarge {
  font-size: 3em;
  font-weight: 800;
}

// --- MEDIA QUERYS ---

@mixin desktop-mid {
  @media (max-width: 1500px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: 1200px) {
    @content;
  }
}
