@import "../../../../scss/variables/variables.scss";
@import "../../../../scss/functions/functions.scss";
@import "../../../../scss/mixins/mixins.scss";

.movie-image-container {
  position: relative;

  .movie-card-title {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
  }

  .movie-card-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;

    .movie-card-image {
      width: $imageWidth;
      height: $imageHeight;
      border: 2px solid color(accent1);
      box-shadow: inset 0 0 20px rgba(63, 44, 4, 0.534);
      border-radius: 20px;

      transition: all 0.2s ease-in-out;

      &:hover {
        border: 2px solid color(accent3);
      }

      @include desktop-mid {
        border-radius: 20px 0 0 20px;
        width: calc(#{$imageWidth} * 0.8);
        height: calc(#{$imageHeight} * 0.8);
      }
      @include tablet-landscape {
        border-radius: 20px;
      }
    }
  }
}
