@import "../../../../scss/variables/variables.scss";
@import "../../../../scss/mixins/mixins.scss";

.movie-image-container {
  position: relative;

  .movie-card-title {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
  }

  .movie-card-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;

    .movie-card-image {
      width: $imageWidth;
      height: $imageHeight;
      border: 2px solid orange;
      box-shadow: inset 0 0 20px rgba(63, 44, 4, 0.534);
      border-radius: 20px;

      transition: all 1s ease-in-out;

      @include desktop-mid {
        width: calc(#{$imageWidth} * 0.8);
      }
      @include tablet-landscape {
      
      }
    }
  }
}
