@import "../../scss/mixins/mixins.scss";

.navbar-container {
  ul {
    z-index: 9;
    position: fixed;
    right: 2%;
    top: 30px;
    width: 88%;
    margin: 0;
    padding: 5px 3em 5px 0;
    border-radius: 5px;
    background-color: rgba(46, 18, 38, 0.877);
    color: white;
    list-style-type: none;

    display: flex;
    justify-content: flex-end;

    @include tablet-landscape {
      justify-content: center;
    }

    @include tablet-portrait {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 95vh;

      &.closed {
        height: 40px;
      }

      & :first-child {
        align-self: flex-end;
      }
    }

    .navbar-link {
      color: white;
      text-decoration: none;
      padding: 0.5em 2em;
      margin: 0 0.5em;
      text-shadow: none;

      @include tablet-landscape {
        padding: 0.5em 1em;
      }

      @include tablet-portrait {
        margin: 1em 0;
        padding: 2em 10%;
        border-radius: 20px;
        width: 400px;
        text-align: center;

        &:hover {
          background-color: rgba(37, 0, 31, 0.486);
        }

        &:active {
          background-color: rgba(211, 155, 65, 0.486);
        }
      }

      &:hover {
        text-shadow: 0 0 5px #ffe195;
      }

      &.active {
        font-weight: bolder;
        text-shadow: 0 0 5px #ffe195, 0 0 10px #ffb800;
      }
    }
  }

  &.revealed {
    ul {
      transform: scaleX(1);
      transform-origin: left;
      transition: all 0.2s 0.2s ease-in-out;

      .navbar-link {
        opacity: 1;
        transition: all 0.5s 0.4s ease-in-out;

        @include tablet-portrait {
          &.open {
            visibility: visible;
            opacity: 1;
          }

          &.closed {
            visibility: hidden;
            opacity: 0;

            transition: visibility 0.3s linear, opacity 0.3s linear;
          }
        }
      }
    }
  }

  &.hidden {
    ul {
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s 0.4s ease-in-out;

      .navbar-link {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}
