.navbar-container {
  ul {
    z-index: 9;
    position: fixed;
    right: 2%;
    top: 30px;
    width: 88%;
    margin: 0;
    padding: 5px 3em 5px 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    list-style-type: none;

    display: flex;
    justify-content: flex-end;

    .navbar-link {
      color: white;
      text-decoration: none;
      padding: 0.5em 2em;
      margin: 0 0.5em;

      transition: all 1s ease-in-out;

      &.active {
        font-weight: bolder;
        text-shadow: 0 0 5px #ffe195, 0 0 10px #ffb800;
      }
    }
  }

  &.revealed {
    ul {
      transform: scaleX(1);
      transform-origin: left;
      transition: all 0.2s 0.2s ease-in-out;

      .navbar-link {
        opacity: 100%;
        transition: opacity 0.5s 0.4s ease-in-out;
      }
    }
  }

  &.hidden {
    ul {
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s 0.2s ease-in-out;

      .navbar-link {
        opacity: 0%;
        transition: opacity 0.2s ease-in-out;
      }
    }
  }
}
