.genre-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 5% 10%;
  margin: auto;

  .genre-card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    margin-top: 100px;
    border: solid 2px white;
    border-radius: 10px;

    a {
      text-decoration: none;

      .genre-name {
        font-size: 1.2em;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
      }
    }
  }
}
