// $imageWidth: 256px;
// $imageHeight: 216px;
// $lineLength: 948px;
// $lineThickness: 28px;
// $deg: random(500);

// .test-page-container {
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   .element-positioner {
//     position: relative;

//     .element-wrapper {
//       position: absolute;
//       right: 0;

//       transform-origin: right bottom;

//       transform: rotate(#{$deg}deg) scale(0.5);

//       transition: all 2s ease-in-out;

//       .element-container {
//         position: relative;
//         top: 0;
//         left: 0;
//         width: calc(#{$lineLength}/ 2);

//         .line-container {
//           position: absolute;
//           img {
//             width: calc(#{$lineLength}/ 2);
//             height: calc(#{$lineThickness}/ 2);
//           }
//         }

//         .poster-container {
//           box-sizing: border-box;
//           position: absolute;
//           top: calc(-#{$imageHeight/2});
//           left: calc(-#{$imageWidth/2});

//           transition: all 2s ease-in-out;

//           transform: rotate(-#{$deg}deg);
//         }
//       }
//     }
//   }
// }

// ====================== TEST COMPONENT 2 ============================

// $imageWidth: 256px;
// $imageHeight: 216px;
// $lineLength: 948px;
// $lineThickness: 28px;

// .test-page-container {
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   $deg: random(1);

//   .element-positioner-0 {
//     position: relative;
//     height: 0;
//     width: calc(#{$lineLength} * 0.7);
//     // width: 0;

//     transform-origin: right bottom;

//     transform: rotate(#{$deg}deg) scale(0.7);

//     transition: all 2s ease-in-out;

//     .element-positioner-1 {
//       position: absolute;
//       height: 0;
//       width: calc(#{$lineLength} * 0.7);
//       left: 0;

//       transform-origin: right bottom;

//       transform: rotate(#{$deg}deg) scale(0.7);

//       transition: all 2s ease-in-out;

//       .element-container-1 {
//         position: absolute;
//         top: 0;
//         right: 0;
//         height: 0;
//         width: calc(#{$lineLength} * 0.7);

//         .line {
//           position: absolute;
//           width: calc(#{$lineLength}* 0.7);
//           height: calc(#{$lineThickness} * 0.7);
//         }

//         .poster {
//           box-sizing: border-box;
//           position: absolute;
//           top: calc(-#{$imageHeight/2});
//           left: calc(-#{$imageWidth/2});

//           transition: all 2s ease-in-out;

//           transform: rotate(-#{$deg * 2}deg);
//         }
//       }
//     }

//     .element-container-0 {
//       position: absolute;
//       top: 0;
//       right: 0;
//       height: 0;
//       width: calc(#{$lineLength}* 0.7);

//       .line {
//         position: absolute;
//         width: calc(#{$lineLength}* 0.7);
//         height: calc(#{$lineThickness} * 0.7);
//       }

//       .poster {
//         box-sizing: border-box;
//         position: absolute;
//         top: calc(-#{$imageHeight/2});
//         left: calc(-#{$imageWidth/2});

//         transition: all 2s ease-in-out;

//         transform: rotate(-#{$deg}deg);
//       }
//     }
//   }
// }

// ===================================== TEST COMPONENT 3 ======================================

// @mixin lineProps($lineLength, $lineThikness, $lineRotation) {
//   position: absolute;
//   right: -$lineLength;
//   width: $lineLength;
//   height: $lineThickness;
//   background-color: white;
//   border-radius: 50px;

//   transform-origin: left bottom;

//   transition: all 2s ease-in-out;

//   transform: rotate(#{$lineRotation}deg);
// }

// @mixin posterProps($index, $lineRotation, $branchRotationSum) {
//   z-index: 2;
//   position: absolute;
//   top: calc(-#{$imageHeight/2});
//   right: calc(-#{$imageWidth/2});

//   transition: all 2s ease-in-out;

//   transform: rotate(#{-$lineRotation * $index - $branchRotationSum}deg) scale(1)
//     scale(1 - $index/10 + 0.1);
// }

// @mixin rootProps($branchRotation1) {
//   position: relative;
//   width: 0;
//   height: 0;

//   transform: rotate($branchRotation1 + deg);

//   transition: all 2s ease-in-out;
// }

// $imageWidth: 256px;
// $imageHeight: 216px;
// $lineLength: 400px;
// $lineThickness: 10px;

// .test-page-container {
//   position: relative;
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   $lineRotation: 20 - random(40);
//   $branchRotation1: 0;
//   $branchRotation2: -45;
//   $branchRotation3: 40;

//   .branch-root-first {
//     @include rootProps($branchRotation1);

//     @for $i from 1 through 3 {
//       .poster#{$i} {
//         @include posterProps($i, $lineRotation, $branchRotation1);
//       }
//     }
//   }

//   .branch-root-second {
//     @include rootProps($branchRotation2);

//     @for $i from 2 through 3 {
//       .poster#{$i} {
//         @include posterProps(
//           $i,
//           $lineRotation,
//           $branchRotation1 + $branchRotation2
//         );
//       }
//     }
//   }

//   .branch-root-third {
//     @include rootProps($branchRotation3);

//     @for $i from 3 through 4 {
//       .poster#{$i} {
//         @include posterProps(
//           $i,
//           $lineRotation,
//           $branchRotation1 + $branchRotation3 + $branchRotation2
//         );
//       }
//     }
//   }

//   .line {
//     @include lineProps($lineLength, $lineThickness, $lineRotation);
//   }
// }

// ===================================== TEST COMPONENT 4 ======================================

// @mixin lineProps($lineLength, $lineThikness, $lineRotation) {
//   position: absolute;
//   right: -$lineLength;
//   width: $lineLength;
//   height: $lineThickness;
//   background-color: white;
//   border-radius: 50px;

//   transform-origin: left bottom;

//   transition: all 2s ease-in-out;

//   animation-name: wiggle;
//   animation-duration: 3s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-timing-function: ease-in-out;

//   @keyframes wiggle {
//     from {
//       transform: rotate(#{$lineRotation}deg);
//     }

//     to {
//       transform: rotate(-#{$lineRotation}deg);
//     }
//   }
// }

// @mixin posterProps($index, $lineRotation, $branchRotationSum) {
//   z-index: 2;
//   position: absolute;
//   top: calc(-#{$imageHeight/2});
//   right: calc(-#{$imageWidth/2});

//   transition: all 2s ease-in-out;

//   animation-name: wiggle;
//   animation-duration: 3s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-timing-function: ease-in-out;

//   @keyframes wiggle {
//     from {
//       transform: rotate(#{-$lineRotation * $index * 100 - $branchRotationSum}deg)
//         scale(0.1);
//     }

//     to {
//       transform: rotate(#{$lineRotation * $index - $branchRotationSum}deg)
//         scale(1);
//         // scale(1 - $index/10 + 0.1);
//     }
//   }
// }

// @mixin rootProps($branchRotation1) {
//   position: relative;
//   width: 0;
//   height: 0;

//   transform: rotate($branchRotation1 + deg);

//   transition: all 2s ease-in-out;
// }

// $imageWidth: 256px;
// $imageHeight: 216px;
// $lineLength: 400px;
// $lineThickness: 10px;

// .test-page-container {
//   position: relative;
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   $lineRotation: 5;
//   $branchRotation1: 0;
//   $branchRotation2: -45;
//   $branchRotation3: 40;

//   .branch-root-first {
//     @include rootProps($branchRotation1);

//     @for $i from 1 through 3 {
//       .poster#{$i} {
//         @include posterProps($i, $lineRotation, $branchRotation1);
//       }
//     }
//   }

//   .branch-root-second {
//     @include rootProps($branchRotation2);

//     @for $i from 4 through 5 {
//       .poster#{$i} {
//         @include posterProps(
//           $i,
//           $lineRotation,
//           $branchRotation1 + $branchRotation2
//         );
//       }
//     }
//   }

//   .branch-root-third {
//     @include rootProps($branchRotation3);

//     @for $i from 4 through 5 {
//       .poster#{$i} {
//         @include posterProps(
//           $i,
//           $lineRotation,
//           $branchRotation1 + $branchRotation3 + $branchRotation2
//         );
//       }
//     }
//   }

//   .line {
//     @include lineProps($lineLength, $lineThickness, $lineRotation);
//   }
// }

// ===================================== TEST COMPONENT 5 ======================================

.test-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;

  .div {
    z-index: 1;
  }

  svg {
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;

    line {
      stroke: white;
      stroke-width: 5px;
    }
  }

  .div1 {
    width: 200px;
    height: 200px;

    background: rgb(255, 17, 17);
  }

  .div2 {
    width: 200px;
    height: 200px;

    background: rgb(224, 255, 45);
  }
}
